
[user]
    name = Sharon Fabin
    email = i.sharon.fabin@gmail.com
[commit]
    template = ~/.gitmessage
[core]
    editor = vim
[push]
    followTags = true
    default = current
[alias]
    plog = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches

